GDIP.xcodeproj/*
StatusIP.xcodeproj/project.xcworkspace/xcuserdata/phae_girl.xcuserdatad/UserInterfaceState.xcuserstate
StatusIP.xcodeproj/xcuserdata/phae_girl.xcuserdatad/xcdebugger/
*.xcuserstate
*.xcbkptlist
